<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="input-group col-lg-4 pull-right bookFilterInput">
                <input type="text" class="form-control" placeholder="输入要搜索的书名" ng-model="bookFilterdInput">
                <div class="input-group-addon">书名检索</div>
            </div>

            <button class="btn btn-default" type="button" ng-click="loadList()">刷新</button>

            <div class="dropdown col-lg-2">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    每页显示{{itemsPerPage}}条
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="itemsPerPage='10'" href="">每页显示10条</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="itemsPerPage='20'" href="">每页显示20条</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="itemsPerPage='30'" href="">每页显示30条</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>书名</th>
                <th>作者</th>
                <th>出版社</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="book in books | bookname:bookFilterdInput | paging: currentPage*itemsPerPage | limitTo: itemsPerPage">
                <td>{{book.id}}</td>
                <td>《{{book.name}}》</td>
                <td>{{book.author}}</td>
                <td>{{book.press}}</td>
                <td>
                    <a ng-href="#/view/{{book.id}}">查看</a>
                    <a ng-href="#/edit/{{book.id}}">修改</a>
                    <a ng-click="deleteBook($index, book.id)" class="delete-book">删除</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="btn-group pull-right" style="font-family: 'Microsoft YaHei';margin: 0 20px 20px 0;">
            <a type="button" class="btn btn-default" ng-disabled="prevPageDisabled()" ng-click="prevPage()">上一页</a>
            <button type="button" class="btn btn-info">{{currentPage + 1}} / {{ pageCount() }}</button>
            <a type="button" class="btn btn-default" ng-disabled="nextPageDisabled()" ng-click="nextPage()">下一页</a>
        </div>

    </div>
</div>